<script>
    import { onMount } from "svelte";
    import Header from "../components/Header.svelte";
    import Main from "../components/Main.svelte";
    import Sidebar from "../components/Sidebar.svelte";
    import Timeline from "../components/Timeline.svelte";

    let data = {};
    const API = "https://us-central1-pugstagram-co.cloudfunctions.net/data";
    onMount(async  () => {
        const response = await fetch(API);
        data = await response.json();
    });
</script>

<Header />
<Main class="mb-8">
    <div class="container mx-auto md:flex pt-4">
        <Sidebar {...data.user}/>
        <Timeline posts={data.post}/>
    </div>
</Main>