<script>
    import Comments from "./Comments.svelte";
</script>

<div class="py-4 shadow-xl">
    <div class="bg-gray-300 rounded-t-lg px-6">
        <div class="flex justify-between">
            <div class="flex items-center py-3">
                <img class="w-10 h-10 rounded-full mr-4" src="https://arepa.s3.amazonaws.com/oscar.png" alt="Avatar of Jonathan Reinink">
                <div class="text-sm">
                    <p class="text-gray-900 leading-none font-semibold">GNXD</p>
                    <p class="text-gray-600">CDMX, Mexico</p>
                </div>
            </div>
            <div class="items-center  py-5">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div>
        <img class="rounded-b-lg" src="https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3024&q=3024" alt="dog">
    </div>
    <div class="relative mx-2 p-2 shadow-lg  bg-gray-300 rounded-lg -mt-2">
        <div class="flex items-center justify-between py-3">
            <div>
                <button class="bg-red-200 p-1 rounded-full text-red-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-600 focus:ring-white">
                    <i class="fas fa-heart h-5 w-6"></i>
                </button>
                <button class="bg-blue-200 p-1 rounded-full text-blue-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-blue-600 focus:ring-white">
                    <i class="fas fa-paper-plane h-5 w-6"></i>
                </button>
            </div>
            <div>
                <button class="bg-green-200 p-1 rounded-full text-green-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-600 focus:ring-white">
                    <i class="fa fa-bookmark h-5 w-6"></i>
                </button>
            </div>
        </div>
        <div class="bg-gray-400 rounded-lg px-2 py-1">
            <h2 class="tracking-tight font-semibold uppercase text-gray-900 md:text-lg">GNXD</h2>
            <p class="text-gray-700 leading-snug">Disfrutando de mi paseo</p>
        </div>
        <Comments />
    </div>

</div>
