<div class="items-center py-3">
    <div class="flex">
        <h3 class="font-semibold">Crispeta :</h3>
        <span>Hola poppy</span>
    </div>
    <div class="pt-3">
        <form class="flex w-full ">
        <div class="w-full">
            <label>
                <input class="w-full leading-snug text-gray-800 placeholder-blue-200 py-1 px-4 rounded-lg border border-blue-300 bg-gray-100
                        hover:bg-white"
                       type="text" placeholder="Agrega un Comentario">
            </label>
        </div>
        <div class="w-12 px-1">
            <button type="submit" class="py-1 px-2 bg-blue-200 text-blue-500 rounded-full focus:ring-4 focus:ring-blue-500 hover:text-white font-semibold">
                Post
            </button>
        </div>
        </form>
    </div>
</div>