<div class="flex items-center py-3">
    <img class="w-10 h-10 rounded-full mr-4" src="https://arepa.s3.amazonaws.com/oscar.png" alt="Avatar of Jonathan Reinink">
    <div class="text-sm">
        <p class="text-gray-900 leading-none font-semibold">GNXD</p>
        <p class="text-gray-600">Victor</p>
    </div>
</div>