<script>
    import Profile from "./Profile.svelte";
    import Stories from "./Stories.svelte";
    import Footer from "./Footer.svelte";


</script>


<div class="mx-2 md:w-1/4 md:flex md:space-y-8 justify-center">
    <div>
        <Profile/>
        <Stories/>
        <Footer/>
    </div>
</div>