<div class="bg-gray-300 rounded-lg shadow-xl">
    <div class="container mx-auto px-2">
        <div class="flex justify-between">
            <h2 class="pr-4">Historias</h2>
            <span class="pl-4">Ver todas</span>
        </div>
        <div class="flex items-center py-3">
            <img class="w-10 h-10 rounded-full mr-4" src="https://arepa.s3.amazonaws.com/oscar.png"
                 alt="Avatar of Jonathan Reinink">
            <div class="text-sm">
                <p class="text-gray-900 leading-none font-semibold">GNXD</p>
                <p class="text-gray-600">Victor</p>
            </div>
        </div>
        <div class="flex items-center py-3">
            <img class="w-10 h-10 rounded-full mr-4" src="https://arepa.s3.amazonaws.com/oscar.png"
                 alt="Avatar of Jonathan Reinink">
            <div class="text-sm">
                <p class="text-gray-900 leading-none font-semibold">GNXD</p>
                <p class="text-gray-600">Victor</p>
            </div>
        </div>
    </div>
</div>